@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

/* a random font form google fonts to fill */
* {
    font-family: "JetBrains Mono";
}

/* creating variables like colors and other stuff */
:root{
    --white: #EFEFEF;
    --orange: #F66B0E;
    --blue: #205375;
    --bluef : #112B3C;
}
/* footer {
    position: fixed;
    bottom: 0;
} */

/* MAIN */

.card {
    width: 400px; /*1*/
    margin: 0px auto; /*2*/
    background-color: white; /*3*/
    box-shadow: 0px 5px 20px #999; /*4*/
  }
  .card a { /*5*/
    color: #333; 
    text-decoration: none;
  }
  .card:hover .card-image img { /*6*/
    width: 160%;
    filter: grayscale(0);
  }
  .card-image {
    height: 250px;/*1*/
    position: relative;/*2*/
    overflow: hidden;/*3*/
  }
.card-image img {
    width: 150%;/*4*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: .3s;
    transition-timing-function: ease;
    
  }
  .card-body {
  text-align:center;  /*1*/
  padding: 15px 20px; /*2*/
  box-sizing: border-box; /*3*/
}
.card-date {
  font-family: 'Source Sans Pro', sans-serif;
}
.card-excerpt {
  text-align: center;
}
.card-title, .card-excerpt {
   font-family: 'Playfair Display', serif;
}

.card-date, .card-title {
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
}

.card-date, .card-excerpt {
  color: #777;
}