@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

/* a random font form google fonts to fill */
* {
    font-family: "JetBrains Mono";
}

/* creating variables like colors and other stuff */
:root{
    --white: #EFEFEF;
    --orange: #F66B0E;
    --blue: #205375;
    --bluef : #112B3C;
}
/* footer {
    position: fixed;
    bottom: 0;
} */

/* MAIN */

