@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

/* a random font form google fonts to fill */
* {
    font-family: "JetBrains Mono";
}

/* creating variables like colors and other stuff */
:root{
    --white: #EFEFEF;
    --orange: #F66B0E;
    --blue: #205375;
    --bluef : #112B3C;
}

/* 
  _    _                _           
 | |  | |              | |          
 | |__| | ___  __ _  __| | ___ _ __ 
 |  __  |/ _ \/ _` |/ _` |/ _ \ '__|
 | |  | |  __/ (_| | (_| |  __/ |   
 |_|  |_|\___|\__,_|\__,_|\___|_|   
                                    
                                    
*/

/* setting a background color for header and footer  */
#mainHeader, #mainFooter {
    background-color: var(--blue);
}

/* styling the header which contains the logo , serach bar , nav Bar */
#mainHeader {
    width : 100%;
    height : 60px;
    color: var(--orange);
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 200px 1fr 500px;
}

/* styling the logo */
#mainLogo {
    width: 160px;
    margin: 10px;
    position: relative;
    z-index: 1000;
}

/* styling the Nav bar which leads to 4 pages : Acceuil , Sign in , Events , Contact */
#mainNav {
    background-color: transparent;
}
/* removing tags from list items and setting the display */
#mainNav ul {
    height: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* The space between the list items */
#mainNav > ul > li {
    padding: 0px 20px;
}

/* styling nav bar links */
#mainNav a {
    color: var(--orange);
    text-decoration: none;
    font-size: 1.3em;
}
/* a little animation when we hover list items */
#mainNav a:hover {
    color: var(--bluef);
}






/* 
                  _         _____                 
                 (_)       |  __ \                
  _ __ ___   __ _ _ _ __   | |__) |_ _  __ _  ___ 
 | '_ ` _ \ / _` | | '_ \  |  ___/ _` |/ _` |/ _ \
 | | | | | | (_| | | | | | | |  | (_| | (_| |  __/
 |_| |_| |_|\__,_|_|_| |_| |_|   \__,_|\__, |\___|
                                        __/ |     
                                       |___/      
*/
#mainPage {
    padding: 100px 20px;
    min-height:100vh;
}
#mainPage h1{
    font-size: 1.8em;
    color: var(--red);
    letter-spacing: .1em;
}
#mainPage.contact form{
    border-top: solid 1px var(--red);
    display: grid;
}
#mainPage.contact form > div > div {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
#mainPage.contact form label{
    margin-bottom: 5px;
    font-size: 1.1em;
}
#mainPage.contact form textarea {
    height: 150px;
    resize: none;
}
#mainPage.contact form button{
    padding: 10px;
    background-color: var(--orange);
    color: var(--white);
    border: none;
    margin-top: 30px;
}
#mainPage.contact form button:hover{
    background-color: var(--blue);
}
#mainPage.contact form button:active{
    background-color: var(--bluef);
}





/* 
   __            _            
  / _|          | |           
 | |_ ___   ___ | |_ ___ _ __ 
 |  _/ _ \ / _ \| __/ _ \ '__|
 | || (_) | (_) | ||  __/ |   
 |_| \___/ \___/ \__\___|_|   
                              
                              
*/
#mainFooter {
    height: 40px;
    width: 100%;
    position:fixed;
    /* font-family: 'Bree Serif'; */
    bottom: 0; 
    color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* MAIN */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}
.card {
    position: relative;
    width: 320px;
    height: 450px;
    margin: 30px;
    background: rgba(22, 105, 239, 0.874);
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    box-shadow: 0 15 px 0 #fff,
    inset 0 -15px 0 rgba(255,255,255,0.25),
    0 45px 0 rgba(0,0,015);
    overflow: hidden;
}
